In [2]:
import pandas as pd

#파일 불러오기
dong = pd.read_csv('D:/Ella/project/202012_주민등록인구및세대현황_서울특별시(동별).csv', encoding='EUC-KR' )
dong.head(10)

,행정동코드,행정기관,시군구별,동별,총 거주자수,세대수,세대당 인구,남자 인구수,여자 인구수,남여 비율
0,11000000,서울특별시,NaN,NaN,"9,505,868","4,294,290",2.21,"4,623,790","4,882,078",0.95
1,11110000,서울특별시,종로구,NaN,"144,017","70,734",2.04,"70,140","73,877",0.95
2,11110515,서울특별시,종로구,청운효자동,"12,057","5,098",2.37,"5,628","6,429",0.88
3,11110530,서울특별시,종로구,사직동,"9,080","4,431",2.05,"4,085","4,995",0.82
4,11110540,서울특별시,종로구,삼청동,"2,492","1,220",2.04,"1,211","1,281",0.95
5,11110550,서울특별시,종로구,부암동,"9,669","4,133",2.34,"4,617","5,052",0.91
6,11110560,서울특별시,종로구,평창동,"17,918","7,217",2.48,"8,355","9,563",0.87
7,11110570,서울특별시,종로구,무악동,"8,329","3,033",2.75,"3,880","4,449",0.87
8,11110580,서울특별시,종로구,교남동,"10,218","4,397",2.32,"4,750","5,468",0.87
9,11110600,서울특별시,종로구,가회동,"4,120","1,909",2.16,"1,918","2,202",0.87

In [58]:
number = pd.read_csv('D:/Ella/project/행정동별 서울생활인구_final.csv' )
number.head(10)

      기준일ID     행정동코드      총생활인구수       0-9세     10-19세
0  20210130  11110515  14498.6846  1091.7587  1430.0903
1  20210130  11110530  14317.4049   806.8815   915.7290
2  20210130  11110540   4313.1719   170.1131   268.9167
3  20210130  11110550  15668.0036   774.2046  1493.1675
4  20210130  11110560  19503.3436  1295.1845  1916.6454
5  20210130  11110570   8486.5216   686.1915   962.6806
6  20210130  11110580   6391.6897   571.9121   619.9570
7  20210130  11110600   5110.3152   292.6945   400.1055
8  20210130  11110615  19202.7962   550.3562   546.0559
9  20210130  11110630   9103.5142   172.6681   433.8364

In [59]:
#merge를 통해 on =' 행정동코드' 를 기준으로 파일 합치기, 
result = pd.merge(number,dong, how='left', on= '행정동코드',)
result.head()

,기준일ID,행정동코드,총생활인구수,0-9세,10-19세,행정기관,시군구별,동별,총 거주자수,세대수,세대당 인구,남자 인구수,여자 인구수,남여 비율
0,20210130,11110515,14498.6846,1091.7587,1430.0903,서울특별시,종로구,청운효자동,"12,057","5,098",2.37,"5,628","6,429",0.88
1,20210130,11110530,14317.4049,806.8815,915.7290,서울특별시,종로구,사직동,"9,080","4,431",2.05,"4,085","4,995",0.82
2,20210130,11110540,4313.1719,170.1131,268.9167,서울특별시,종로구,삼청동,"2,492","1,220",2.04,"1,211","1,281",0.95
3,20210130,11110550,15668.0036,774.2046,1493.1675,서울특별시,종로구,부암동,"9,669","4,133",2.34,"4,617","5,052",0.91
4,20210130,11110560,19503.3436,1295.1845,1916.6454,서울특별시,종로구,평창동,"17,918","7,217",2.48,"8,355","9,563",0.87

In [60]:
result.columns

Index(['기준일ID', '행정동코드', '총생활인구수', '0-9세', '10-19세', '행정기관', '시군구별', '동별 ',
       '총 거주자수', '세대수', '세대당 인구', '남자 인구수', '여자 인구수', '남여 비율'],
      dtype='object')

In [69]:
result_final = result_final[['행정동코드','시군구명', '동명', '총 거주자수', '총생활인구수', '세대수','0-9세', '10-19세' ]]

In [70]:
result_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 424 entries, 0 to 423
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정동코드   424 non-null    int64
 1   시군구명    418 non-null    object
 2   동명      418 non-null    object
 3   총 거주자수  418 non-null    object
 4   총생활인구수  424 non-null    float64
 5   세대수     418 non-null    object
 6   0-9세    424 non-null    float64
 7   10-19세  424 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 29.8+ KB

In [84]:
result_final.isnull().sum()

행정동코드     0
시군구명      6
동명        6
총 거주자수    6
총생활인구수    0
세대수       6
0-9세      0
10-19세    0
dtype: int64

In [83]:
#행정동 코드가 조회되지 않는 칼럼 
result_final.loc[result_final.isnull()["동명"]]

        행정동코드 시군구명   동명 총 거주자수      총생활인구수  세대수       0-9세     10-19세
135  11305590  NaN  NaN    NaN  19730.8187  NaN   743.4098  1187.1212
136  11305600  NaN  NaN    NaN  16210.6073  NaN   945.0061  1324.8485
137  11305606  NaN  NaN    NaN  18105.5532  NaN  1089.4548  1546.3777
138  11305610  NaN  NaN    NaN  21390.6368  NaN  1158.6068  1566.3899
139  11305620  NaN  NaN    NaN  22083.4944  NaN  1478.1245  1842.8110
140  11305630  NaN  NaN    NaN  26488.3031  NaN  1147.9883  1497.3458

In [85]:
#결측지 제거 
result_final = result_final.dropna()

In [86]:
result_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 423
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정동코드   418 non-null    int64
 1   시군구명    418 non-null    object
 2   동명      418 non-null    object
 3   총 거주자수  418 non-null    object
 4   총생활인구수  418 non-null    float64
 5   세대수     418 non-null    object
 6   0-9세    418 non-null    float64
 7   10-19세  418 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 29.4+ KB

In [87]:
result_final.head()

      행정동코드 시군구명     동명  총 거주자수      총생활인구수    세대수       0-9세     10-19세
0  11110515  종로구  청운효자동  12,057  14498.6846  5,098  1091.7587  1430.0903
1  11110530  종로구    사직동   9,080  14317.4049  4,431   806.8815   915.7290
2  11110540  종로구    삼청동   2,492   4313.1719  1,220   170.1131   268.9167
3  11110550  종로구    부암동   9,669  15668.0036  4,133   774.2046  1493.1675
4  11110560  종로구    평창동  17,918  19503.3436  7,217  1295.1845  1916.6454

In [88]:
result_final['동명']

0      청운효자동
1        사직동
2        삼청동
3        부암동
4        평창동
       ...
419    성내제2동
420    성내제3동
421       길동
422    둔촌제1동
423    둔촌제2동
Name: 동명, Length: 418, dtype: object

In [90]:
result_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 423
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정동코드   418 non-null    int64
 1   시군구명    418 non-null    object
 2   동명      418 non-null    object
 3   총 거주자수  418 non-null    object
 4   총생활인구수  418 non-null    float64
 5   세대수     418 non-null    object
 6   0-9세    418 non-null    float64
 7   10-19세  418 non-null    float64
dtypes: float64(3), int64(1), object(4)
memory usage: 29.4+ KB

In [102]:
change = result_final['0-9세']

In [106]:
import re
change = []
for name in change:
    first = re.compile('[,]+').sub("", name) #[0-9,·$]빼고 출력됨 
    # re.compile('[가-힣]+').findall(text)   #['신사', '동']

    change.append(first)

In [107]:
change

[]

In [97]:
result_final['총 거주자수'] = change_dong

<ipython-input-97-c98c7758b44b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_final['총 거주자수'] = change_dong

In [108]:
result_final['0-9세']= pd.to_numeric(result_final['0-9세'])

<ipython-input-108-78e2c9fe6123>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_final['0-9세']= pd.to_numeric(result_final['0-9세'])

In [114]:
#반올림해서 데이터 타입변경 
result_final['10-19세']= result_final['10-19세'].round(0).astype(int)

<ipython-input-114-0b53ba0e64d2>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_final['10-19세']= result_final['10-19세'].round(0).astype(int)

In [115]:
result_final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 0 to 423
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정동코드   418 non-null    int64
 1   시군구명    418 non-null    object
 2   동명      418 non-null    object
 3   총 거주자수  418 non-null    int64
 4   총생활인구수  418 non-null    float64
 5   세대수     418 non-null    object
 6   0-9세    418 non-null    int32
 7   10-19세  418 non-null    int32
dtypes: float64(1), int32(2), int64(2), object(3)
memory usage: 26.1+ KB

In [117]:
result_final.to_excel('D:/Ella/project/인구분포_ing2.xlsx')

In [66]:
#칼럼명 바꾸기 
result_final['시군구명'] = result_final['시군구별']

<ipython-input-66-ea7df81b3487>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_final['시군구명'] = result_final['시군구별']

In [119]:
df= pd.read_excel('D:/Ella/project/인구분포_ing2.xlsx')
df

,Unnamed: 0,행정동코드,시군구명,동명,총 거주자수,총생활인구수,세대수,0-9세,10-19세
0,0,11110515,종로구,청운효자동,12057,14498.6846,"5,098",1092,1430
1,1,11110530,종로구,사직동,9080,14317.4049,"4,431",807,916
2,2,11110540,종로구,삼청동,2492,4313.1719,"1,220",170,269
3,3,11110550,종로구,부암동,9669,15668.0036,"4,133",774,1493
4,4,11110560,종로구,평창동,17918,19503.3436,"7,217",1295,1917
...,...,...,...,...,...,...,...,...,...
412,419,11740650,강동구,성내동,23940,27811.1704,"12,599",1683,1717
413,420,11740660,강동구,성내동,23122,27631.8240,"10,364",1461,2197
414,421,11740685,강동구,길동,45937,54282.1381,"21,118",3599,3972
415,422,11740690,강동구,둔촌동,28,7404.2601,15,539,877
416,423,11740700,강동구,둔촌동,25982,26621.5824,"10,798",1704,2286

In [122]:
#숫자가 있는 동명 변경하기 
change_name = df['동명']
change_dong = []
for name in change_name:
    first = re.compile('[0-9,.$]+').sub("", name) #[0-9,·$]빼고 출력됨 
    # re.compile('[가-힣]+').findall(text)   #['신사', '동']

    change_dong.append(first)

In [123]:
change_dong

['청운효자동',
 '사직동',
 '삼청동',
 '부암동',
 '평창동',
 '무악동',
 '교남동',
 '가회동',
 '종로가동',
 '종로가동',
 '이화동',
 '혜화동',
 '창신동',
 '창신동',
 '창신동',
 '숭인동',
 '숭인동',
 '소공동',
 '회현동',
 '명동',
 '필동',
 '장충동',
 '광희동',
 '을지로동',
 '신당동',
 '다산동',
 '약수동',
 '청구동',
 '신당동',
 '동화동',
 '황학동',
 '중림동',
 '후암동',
 '용산가동',
 '남영동',
 '청파동',
 '원효로동',
 '원효로동',
 '효창동',
 '용문동',
 '한강로동',
 '이촌동',
 '이촌동',
 '이태원동',
 '이태원동',
 '한남동',
 '서빙고동',
 '보광동',
 '왕십리동',
 '왕십리도선동',
 '마장동',
 '사근동',
 '행당동',
 '행당동',
 '응봉동',
 '금호가동',
 '금호가동',
 '금호가동',
 '옥수동',
 '성수가동',
 '성수가동',
 '성수가동',
 '성수가동',
 '송정동',
 '용답동',
 '화양동',
 '군자동',
 '중곡동',
 '중곡동',
 '중곡동',
 '중곡동',
 '능동',
 '광장동',
 '자양동',
 '자양동',
 '자양동',
 '자양동',
 '구의동',
 '구의동',
 '구의동',
 '용신동',
 '전농동',
 '전농동',
 '답십리동',
 '답십리동',
 '장안동',
 '장안동',
 '청량리동',
 '회기동',
 '휘경동',
 '휘경동',
 '이문동',
 '이문동',
 '면목동',
 '면목동',
 '면목동',
 '면목본동',
 '면목동',
 '면목동',
 '상봉동',
 '상봉동',
 '중화동',
 '중화동',
 '묵동',
 '묵동',
 '망우본동',
 '망우동',
 '신내동',
 '신내동',
 '성북동',
 '삼선동',
 '동선동',
 '돈암동',
 '돈암동',
 '안암동',
 '보문동',
 '정릉동',
 '정릉동',
 '정릉동',
 '정릉동',
 '길음동',
 '길음동',
 '종암동',
 '월곡동',
 '월곡동',
 '장위동',
 '장위동',
 '장위동',
 '석관동',
 '삼양동',
 '미아동',
 '송중동',
 '송천동',
 '삼각산동',
 '우이동',
 '인수동',
 '창동',
 '창동',
 '창동',
 '창동',
 '창동',
 '도봉동',
 '도봉동',
 '쌍문동',
 '쌍문동',
 '쌍문동',
 '쌍문동',
 '방학동',
 '방학동',
 '방학동',
 '월계동',
 '월계동',
 '월계동',
 '공릉동',
 '공릉동',
 '하계동',
 '하계동',
 '중계본동',
 '중계동',
 '중계동',
 '중계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '상계동',
 '녹번동',
 '불광동',
 '불광동',
 '갈현동',
 '갈현동',
 '구산동',
 '대조동',
 '응암동',
 '응암동',
 '응암동',
 '역촌동',
 '신사동',
 '신사동',
 '증산동',
 '수색동',
 '진관동',
 '천연동',
 '북아현동',
 '충현동',
 '신촌동',
 '연희동',
 '홍제동',
 '홍제동',
 '홍제동',
 '홍은동',
 '홍은동',
 '남가좌동',
 '남가좌동',
 '북가좌동',
 '북가좌동',
 '아현동',
 '공덕동',
 '도화동',
 '용강동',
 '대흥동',
 '염리동',
 '신수동',
 '서강동',
 '서교동',
 '합정동',
 '망원동',
 '망원동',
 '연남동',
 '성산동',
 '성산동',
 '상암동',
 '목동',
 '목동',
 '목동',
 '목동',
 '목동',
 '신월동',
 '신월동',
 '신월동',
 '신월동',
 '신월동',
 '신월동',
 '신월동',
 '신정동',
 '신정동',
 '신정동',
 '신정동',
 '신정동',
 '신정동',
 '염창동',
 '등촌동',
 '등촌동',
 '등촌동',
 '화곡동',
 '화곡동',
 '화곡동',
 '화곡동',
 '화곡본동',
 '화곡동',
 '화곡동',
 '가양동',
 '가양동',
 '가양동',
 '발산동',
 '우장산동',
 '공항동',
 '방화동',
 '방화동',
 '방화동',
 '신도림동',
 '구로동',
 '구로동',
 '구로동',
 '구로동',
 '구로동',
 '가리봉동',
 '고척동',
 '고척동',
 '개봉동',
 '개봉동',
 '개봉동',
 '오류동',
 '오류동',
 '수궁동',
 '가산동',
 '독산동',
 '독산동',
 '독산동',
 '독산동',
 '시흥동',
 '시흥동',
 '시흥동',
 '시흥동',
 '시흥동',
 '영등포본동',
 '영등포동',
 '여의동',
 '당산동',
 '당산동',
 '도림동',
 '문래동',
 '양평동',
 '양평동',
 '신길동',
 '신길동',
 '신길동',
 '신길동',
 '신길동',
 '신길동',
 '대림동',
 '대림동',
 '대림동',
 '노량진동',
 '노량진동',
 '상도동',
 '상도동',
 '상도동',
 '상도동',
 '흑석동',
 '사당동',
 '사당동',
 '사당동',
 '사당동',
 '사당동',
 '대방동',
 '신대방동',
 '신대방동',
 '보라매동',
 '청림동',
 '성현동',
 '행운동',
 '낙성대동',
 '청룡동',
 '은천동',
 '중앙동',
 '인헌동',
 '남현동',
 '서원동',
 '신원동',
 '서림동',
 '신사동',
 '신림동',
 '난향동',
 '조원동',
 '대학동',
 '삼성동',
 '미성동',
 '난곡동',
 '서초동',
 '서초동',
 '서초동',
 '서초동',
 '잠원동',
 '반포본동',
 '반포동',
 '반포동',
 '반포동',
 '반포동',
 '방배본동',
 '방배동',
 '방배동',
 '방배동',
 '방배동',
 '양재동',
 '양재동',
 '내곡동',
 '신사동',
 '논현동',
 '논현동',
 '압구정동',
 '청담동',
 '삼성동',
 '삼성동',
 '대치동',
 '대치동',
 '대치동',
 '역삼동',
 '역삼동',
 '도곡동',
 '도곡동',
 '개포동',
 '개포동',
 '개포동',
 '세곡동',
 '일원본동',
 '일원동',
 '일원동',
 '수서동',
 '풍납동',
 '풍납동',
 '거여동',
 '거여동',
 '마천동',
 '마천동',
 '방이동',
 '방이동',
 '오륜동',
 '오금동',
 '송파동',
 '송파동',
 '석촌동',
 '삼전동',
 '가락본동',
 '가락동',
 '가락동',
 '문정동',
 '문정동',
 '장지동',
 '위례동',
 '잠실본동',
 '잠실동',
 '잠실동',
 '잠실동',
 '잠실동',
 '잠실동',
 '강일동',
 '상일동',
 '명일동',
 '명일동',
 '고덕동',
 '고덕동',
 '암사동',
 '암사동',
 '암사동',
 '천호동',
 '천호동',
 '천호동',
 '성내동',
 '성내동',
 '성내동',
 '길동',
 '둔촌동',
 '둔촌동']

In [124]:
df['동명'] = change_dong

In [127]:
df.to_excel('D:/Ella/project/인구분포_ing3.xlsx')

In [135]:
df2 = pd.read_excel('D:/Ella/project/인구분포_ing3.xlsx')
df2.head()

   Unnamed: 0     행정동코드 시군구명     동명  총 거주자수      총생활인구수    세대수  0-9세  10-19세
0           0  11110515  종로구  청운효자동   12057  14498.6846  5,098  1092    1430
1           1  11110530  종로구    사직동    9080  14317.4049  4,431   807     916
2           2  11110540  종로구    삼청동    2492   4313.1719  1,220   170     269
3           3  11110550  종로구    부암동    9669  15668.0036  4,133   774    1493
4           4  11110560  종로구    평창동   17918  19503.3436  7,217  1295    1917

In [137]:
df2[df2['동명'] =='가락본동']

Empty DataFrame
Columns: [Unnamed: 0, 행정동코드, 시군구명, 동명, 총 거주자수, 총생활인구수, 세대수, 0-9세, 10-19세]
Index: []

In [139]:
df2 = df2.drop('Unnamed: 0', axis =1)

In [140]:
#최정 정제된 데이터 저장 하기 
df2.to_csv('D:/Ella/project/행정동별 서울생활인구_홍민지_v1.0.csv', index= False)

In [143]:
df2.groupby('시군구명').sum()

          행정동코드  총 거주자수       총생활인구수   0-9세  10-19세
시군구명
강남구   256973943  527341  651925.7610  46353   70984
강동구   211330810  453828  531363.2226  39558   49863
강북구    79139049  185335  196549.3155  12909   16363
강서구   230011658  573472  557705.3575  41477   44042
관악구   244033670  487471  515582.6616  24066   30865
광진구   168236967  341534  369771.7238  21867   30318
구로구   172959845  383594  390207.5859  29822   29409
금천구   115456460  227968  204603.8084  11370   12818
노원구   215662047  517425  545991.6954  40052   62257
도봉구   158488399  321061  294247.1523  19174   25119
동대문구  145998541  311823  319289.3875  19987   24552
동작구   173859016  385519  405750.8574  26867   30174
마포구   183050420  364419  415481.0926  26715   32013
서대문구  159748920  305520  350928.1497  22342   28338
서초구   209710476  416911  481011.1808  38172   48084
성동구   190410505  288254  323994.3940  22433   23082
성북구   225813185  429564  442657.7176  32925   42159
송파구   316186401  658990  744577.2393  59005   70306
양천구   206470661  449158  410517.7741  33632   52147
영등포구  208091230  372301  408231.4750  25439   26462
용산구   178729695  220116  254780.9772  14002   17140
은평구   182089431  471876  485183.8621  33321   43525
종로구   188880430  144017  201977.7972   9626   14815
중구    167109140  121113  170613.0504   7346    7956
중랑구   180169635  389270  386978.2369  25395   28371

In [ ]:
ㅇㄹ

In [52]:
ro = result_final[result_final['시군구별']=='종로구'] 
ro.info()


# result_final.groupby('종로구')['총 거주자수'].sum()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12648 entries, 0 to 315453
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   행정동코드   12648 non-null  int64
 1   시군구별    12648 non-null  object
 2   동별      12648 non-null  object
 3   총 거주자수  12648 non-null  object
 4   세대수     12648 non-null  object
 5   세대당 인구  12648 non-null  float64
 6   0-9세    12648 non-null  float64
 7   10-19세  12648 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 889.3+ KB

In [ ]:
result_final.to_excel('D:/Ella/project/서울시인구분포_final2.xlsx')

In [37]:
result_final.to_csv('D:/Ella/project/서울시인구분포_final2.csv')

In [ ]:
# 그룹으로 결측치 확인하기 

null_result = result_final[result_final['시군구별'].isna()]
null_result.groupby('행정동코드').count()

In [27]:
result.isnull().sum()

기준일ID                 0
행정동코드                 0
총생활인구수                0
남자0세부터9세생활인구수         0
남자10세부터14세생활인구수       0
남자15세부터19세생활인구수       0
여자0세부터9세생활인구수         0
여자10세부터14세생활인구수       0
여자15세부터19세생활인구수       0
행정기관               4464
시군구별               4464
동별                 4464
총 거주자수             4464
세대수                4464
세대당 인구             4464
남자 인구수             4464
여자 인구수             4464
남여 비율              4464
dtype: int64

In [35]:
result_final = result_final.dropna()
result_final.isnull().sum()

행정동코드              0
시군구별               0
동별                 0
총 거주자수             0
세대수                0
세대당 인구             0
남자0세부터9세생활인구수      0
남자10세부터14세생활인구수    0
남자15세부터19세생활인구수    0
여자0세부터9세생활인구수      0
여자10세부터14세생활인구수    0
여자15세부터19세생활인구수    0
dtype: int64

In [39]:
result_final.head()

,행정동코드,시군구별,동별,총 거주자수,세대수,세대당 인구,남자0세부터9세생활인구수,남자10세부터14세생활인구수,남자15세부터19세생활인구수,여자0세부터9세생활인구수,여자10세부터14세생활인구수,여자15세부터19세생활인구수
0,11110515,종로구,청운효자동,"12,057","5,098",2.37,504.5386,321.4932,482.9391,509.8938,305.5139,279.5663
1,11110530,종로구,사직동,"9,080","4,431",2.05,407.0500,180.9110,217.8256,401.6464,215.1671,250.5754
2,11110550,종로구,부암동,"9,669","4,133",2.34,427.2649,331.2952,450.7537,412.5947,293.8624,459.0547
3,11110600,종로구,가회동,"4,120","1,909",2.16,111.0789,78.4086,117.8878,173.3929,98.7005,152.6731
4,11110700,종로구,숭인제1동,"5,929","2,918",2.03,227.1676,107.6624,131.6865,181.6482,92.7568,143.0290